@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
  --e-book: 184 100% 39%;
  --e-book-dark: 224 23% 20%;
  --wumbo-primary: 217 91% 60%;
  --wumbo-dark: 217 60% 25%;
  --wumbo-muted: 217 19% 50%;
  --wumbo-primary-light: 217 100% 89%;
  --wumbo-muted-light: 0 0% 100% 80%;

  --tp-primary: 184 100% 39%;
  --tp-secondary: 184 100% 39%;
  --tp-background: 184 100% 39%;
  --tp-foreground: 184 100% 39%;
  --tp-text: 184 100% 39%;
  --tp-paragraph: 184 100% 39%;
  }

  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
  body{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}

@font-face {
  font-family: "grostekMedium";
  src: local('grostekMedium'),url("./font/acid-grotesk-medium.otf") format("opentype");
}

@font-face {
  font-family: "grostekRegular";
  src: local('grostekRegular'),url("./font/acid-grotesk-regular.otf") format("opentype");
}

@font-face {
  font-family: "grostekBold";
  src: local('grostekBold'),url("./font/acid-grotesk-bold.otf") format("opentype");
}

@font-face {
  font-family: "grostekNormal";
  src: local('grostekNormal'),url("./font/acid-grotesk-normal.otf") format("opentype");
}

/* open sauce font */
@font-face {
  font-family: "openSauceLight";
  src: local('openSauceLight'),url("./font/tokopedia/OpenSauceOne-Light.ttf") format("opentype");
}

@font-face {
  font-family: "openSauceRegular";
  src: local('openSauceRegular'),url("./font/tokopedia/OpenSauceOne-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "openSauceMedium";
  src: local('openSauceMedium'),url("./font/tokopedia/OpenSauceOne-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "openSauceSemibold";
  src: local('openSauceSemibold'),url("./font/tokopedia/OpenSauceOne-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: "openSauceBold";
  src: local('openSauceBold'),url("./font/tokopedia/OpenSauceOne-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "openSauceExtraBold";
  src: local('openSauceExtraBold'),url("./font/tokopedia/OpenSauceOne-ExtraBold.ttf") format("opentype");
}


.pGrostek { /* p = paragraph */
  @apply leading-[160%] tracking-wide font-grostekMd
}

.ReactCollapse--collapse {
  transition: height 500ms;
  
}

.ebparagraph{
@apply leading-[30px]
}

.wtransition {
  @apply transition duration-300 ease-in-out
}

.shimmer {
  position: relative;
  overflow: hidden
}

.shimmer:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1), transparent);
  animation: loading 2.5s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%)
  }
}